.banner {
    width: 230px;
    height: 550px;
    background: #fff;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;

    &__search {
        width: 210px;
        position: absolute;
        bottom: 50%;
        left: 10px;
        opacity: 1;
        overflow: hidden;
        height: 93px;
        animation-name: search;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    &__stroke {
        width: 0%;
        border-bottom: 1px solid $blue;
        animation-name: stroke;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        position: absolute;
        bottom:0;
    }

    &__info {
        position: absolute;
        left: 10px;
        top: 46px;
        opacity: 0;
        animation-name: info;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        color: $blue;
        font-weight: bold;
        margin-bottom: 16px;
        display: block;
        position: absolute;
        animation-name: title;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    &__main-price {
        color: $yellow;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        position: absolute;
        margin-top:64px;
        width: 100%;
        animation-name: main-price;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        span {
            position: relative;

            &:before {
                content: '';
                width: 14px;
                height: 18px;
                display: block;
                background-image: url('../img/rouble.svg');
                background-repeat: no-repeat;
                position: absolute;
                right: -20px;
                bottom: 5px;
            }
        }
    }

    &__search-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height:18px;
        width:18px;
        animation-name: search-button;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        transform-origin: center center;
        margin-top: 3px;
        svg {
            width:100%;
        }
        path {
            fill: $yellow;
            animation-name: change-color-on-click;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            transform-origin: center center;

        }
        //&:before {
        //    content: '';
        //    width: 13px;
        //    height: 13px;
        //    color: inherit;
        //    border: 2px solid $yellow;
        //    border-radius: 50%;
        //    position: absolute;
        //    right: 0;
        //
        //    transform-origin: center center;
        //}
        //
        //&:after {
        //    content: '';
        //    height:6.5px;
        //    width:1px;
        //    background: red;
        //    position: absolute;
        //    right: 7.5px;
        //    top: 13px;
        //    border-radius: 0 20px 20px 0;
        //    bottom: 0;
        //}

    }

    &__list {
        width: 210px;
        position: absolute;
        left: 10px;
        top: 156px;
        opacity: 0;
        animation-name: list;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    &__cursor {
        width: 12px;
        height: 20px;
        //background: url('/img/cursor.svg');
        //background-repeat: no-repeat;
        //background-size: cover;
        position: absolute;
        bottom: 45%;
        right: -14px;
        opacity: 0;
        z-index: 2;
        animation-name: cursor;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    &__icon-hand {
        opacity: 0;
        width: 15px;
        position: absolute;
        top: 0;
        left: 0;

        animation-name: icon-hand;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    &__icon-cursor {
        width: 12px;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;

        animation-name: icon-cursor;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    &__footer {
        width: 150px;
        position: absolute;
        bottom: 4px;
        left: 46px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: -30px;
            bottom: -4px;
            width: 26px;
            height: 36px;
            background-image: url('../img/logo.svg');
        }
    }
}

.item {
    position: relative;
    transform: translate(0,10px);
    height: 44px;
    border-bottom: 1px solid rgba(14, 26, 112, 0.3);
    opacity: 0;
    animation-name: item;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    @for $i from 1 through 6 {
        &:nth-child(#{$i}){
            animation-delay: $i*0.05s;
        }
    }

    &:before {
        content: '';
        width: 22px;
        height: 22px;
        display: block;
        background: linear-gradient(270deg, #FFFFFF 50.85%, rgba(255, 255, 255, 0.0001) 100%);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:after {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        right: 0;
        bottom: 10px;
        z-index: 2;
        transform: rotate(45deg);
        border-top: 2px solid $yellow;
        border-right: 2px solid $yellow;
        border-radius: 1px 1px 1px 0;
    }

    &__price {
        font-size: 16px;
        line-height: 28px;
        color: $yellow;
        position: absolute;
        left: 0;
        bottom: 0;
        font-weight: bold;

        &:before {
            content: '';
            width: 10px;
            height: 14px;
            display: block;
            background-image: url('/img/rouble.svg');
            background-repeat: no-repeat;
            position: absolute;
            right: -12px;
            bottom: 6px;
        }
    }

    &__text {
        position: absolute;
        right: 5px;
        bottom: 0;
        color: $blue;
        font-size: 12px;
        line-height: 28px;
    }

    &--more {
        width: 210px;
        height: 42px;
        box-sizing: border-box;
        border: 1px solid rgba(221, 221, 221, 0.5);
        line-height: 40px;
        text-align: center;
        opacity: 0;
        margin-top: 19px;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        span {
            font-size: 12px;
            line-height: 14px;
            color: $blue;
        }

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    //&__stroke {
    //    width: 0%;
    //    position: absolute;
    //    z-index: 3;
    //    bottom: 0;
    //    left: 0;
    //    border-bottom: 1px solid rgba(14, 26, 112, 0.3);
    //    animation-name: stroke-item;
    //    animation-duration: 10s;
    //    animation-iteration-count: infinite;
    //}
}

.footer {
    color: $blue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;

    &__link {
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: $blue;
        border-bottom:  1px solid rgba(14, 26, 112, 0.5);
        margin-bottom: 2px;
    }

    //&__text {
    //    font-size: 6px;
    //    line-height: 7px;
    //    color: $black;
    //    margin-bottom: 2px;
    //}

    &__agreement {
        display: block;
        font-size: 10px;
        line-height: 10px;
        margin-top: 2px;
        color: $blue;
        text-decoration: none;
    }

}

.info {
    width: 210px;
    color: $blue;
    animation-name: info;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &__title {
        font-size: 24px;
        line-height: 24px;
        color: $blue;
        margin-bottom: 18px;
        font-weight: bold;
        width: 98%;

        span {
            color: $yellow;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        animation-name: info-text;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

        @for $i from 1 through 7 {
            &:nth-child(#{$i}){
                animation-delay: $i*0.05s;
            }
        }

        span {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin-top: 4px;
        }

        & + .info__text {
            margin-top: 16px;
        }

        &--calculation {
            opacity: 0;
            background: $blue;
            color: #fff;
            font-weight: normal;
            padding: 14px 42px 14px 40px;
            font-size: 12px;
            line-height: 14px;
            margin-top: 24px !important;
        }
    }
}

// ****************


@keyframes stroke {
    0% {
        width: 0%;
    }

    10% {
        width:100%;
    }
    90% {
        width:100%;
        opacity:1;
    }

    100% {
        opacity:0;
        width: 100%;
    }
}

@keyframes title {
    0% {
        top: 100%;
        opacity:0;
    }

    3% {
        opacity:0.7;
        top: 100%;
    }

    17% {
        top: 0;
        opacity: 1;
    }
    90% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

@keyframes main-price {
    0% {
        top: 100%;
        opacity:0;
    }

    3% {
        opacity:0.7;
        top: 100%;
    }

    15% {
        top: 0;
        opacity: 1;
    }
    90% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

@keyframes cursor {

    12% {
        opacity: 0;
        bottom: 30%;
        right: 10px;
    }

    18% {
        bottom: 50%;
        right: 10px;
    }

    21% {
        bottom: 50%;
        right: 10px;
        opacity: 1;
    }

    24% {
        opacity: 0;
        bottom: 35%;
        right: 10px;
    }

    100% {
        opacity: 0;
    }
}

@keyframes icon-cursor {

    15.9% {
        opacity: 1;
    }

    16% {
        opacity: 0;
    }

    21.9% {
        opacity: 0;
    }

    22% {
        opacity: 1;
    }
}

@keyframes icon-hand {
    15.9% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    21.9% {
        opacity: 1;
    }

    22% {
        opacity: 0;
    }
}

@keyframes search-button {

    19% {
        top: 0;
        transform: scale(1);
    }

    21% {
        transform: scale(0.9);
    }

    23% {
        transform: scale(1);
    }

    90% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

@keyframes change-color-on-click {
    0% {
    }

    19% {
        fill: $yellow;
    }

    21% {
        transform: scale(0.9);
        fill: darken($yellow, 20%);
    }

    23% {
        fill: $yellow;
    }
}

@keyframes search {
    21% {
        bottom: 50%;
    }

    29% {
        bottom: 405px;
    }

    57% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        bottom: 405px;
    }
}

@keyframes item {
    25% {
        opacity: 0;
        transform: translate(0,10px);
    }

    27% {
        opacity: 1;
        transform: translate(0,0);
    }

    60% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes list {
    20% {
        opacity: 1;
    }

    57% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

@keyframes info {
    60% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes info-text {
    60% {
        opacity: 0;
        transform: translate(0,10px);
    }

    64% {
        opacity: 1;
        transform: translate(0,0);
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(0,0);
    }
}
