// @font-face {
//     font-family: 'reg';
//     src: url('/fonts/sourcesanspro-regular-webfont.eot');
//     src: url('/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
//     url('/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
//     url('/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
//     url('/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'med';
//     src: url('/fonts/formular-medium-webfont.eot');
//     src: url('/formular-medium-webfont.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/formular-medium-webfont.woff2') format('woff2'),
//     url('/fonts/formular-medium-webfont.woff') format('woff'),
//     url('/fonts/formular-medium-webfont.ttf') format('truetype'),
//     url('/fonts/formular-medium-webfont.svg#formularmedium') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'formular';
//     src: url('/fonts/formular-webfont.eot');
//     src: url('/formular-webfont.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/formular-webfont.woff2') format('woff2'),
//     url('/fonts/formular-webfont.woff') format('woff'),
//     url('/fonts/formular-webfont.ttf') format('truetype'),
//     url('/fonts/formular-webfont.svg#formularregular') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'icon';
//     src:  url('/fonts/icomoon.eot?nvr12d');
//     src:  url('/fonts/icomoon.eot?nvr12d#iefix') format('embedded-opentype'),
//     url('/fonts/icomoon.ttf?nvr12d') format('truetype'),
//     url('/fonts/icomoon.woff?nvr12d') format('woff'),
//     url('/fonts/icomoon.svg?nvr12d#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }