@import './node_modules/susy/sass/susy';
@import '_reset.css';
@import '_swiper.css';
@import '_vars.scss';
$susy: ( 'columns': susy-repeat(48), 'gutters': 0, 'spread': 'narrow', 'container-spread': 'narrow', );
body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: reg;
    background-color: #fff; //-webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.button {
    border: none;
    cursor: pointer;
    font-family: 'reg';
    background: none;
    padding: 0;
}

*:focus {
    outline: none;
}

.text {
    &>*+* {
        margin-top: 15px;
    }
}

a {
    text-decoration: none;
}

.input {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        font-family: reg;
        display: block;
        width: 100%;
        background-color: transparent;
        &::-webkit-input-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &::-moz-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &:-moz-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &:-ms-input-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
    }
}

.textarea {
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        font-family: reg;
        display: block;
        width: 100%;
        background-color: transparent;
        resize: none;
        &::-webkit-input-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &::-moz-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &:-moz-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
        &:-ms-input-placeholder {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
    }
}

// .swiper-slide, .swiper-wrapper {
//     height: auto;
// }
// .swiper-slide {
//     width: auto;
// }


// ============================= //