+b.banner
    +e.search
        +e.H1.title Банковская гарантия
        +e.main-price
            span#counter 200&nbsp000
            +e.search-button
                include ../../img/search.svg
        +e.stroke
    +e.UL.list
        +e.LI.item.item__
            +e.price 3&nbsp200
            +e.text заказать в Модуле
        +e.LI.item.item__
            +e.price 3&nbsp600
            +e.text заказать в Альфа-
        +e.LI.item.item__
            +e.price 4&nbsp200
            +e.text заказать в ВТБ-ба
        +e.LI.item.item__
            +e.price 4&nbsp400
            +e.text заказать в Моско
        +e.LI.item.item__
            +e.price 5&nbsp000
            +e.text заказать в Откры
        +e.LI.item.item__.--more
            span Показать еще 15 предложений
    +e.cursor
        +e.IMG.icon-cursor(src="img/cursor.svg")
        +e.IMG.icon-hand(src="img/hand.svg")
    +e.footer.footer__
        +e.A.link(href="https://finaxe.ru/" target="_blank") Finaxe.ru
        +e.A.agreement(href="https://finaxe.ru/files/user-agreement.pdf" target="_blank") пользовательское соглашение
    +e.info.info__
        +e.title Банковские продукты для юридических лиц <span>онлайн</span> и <span>без посредников</span>
        +e.H3.text   Банковские гарантии
            span 44-ФЗ, 223-ФЗ, 185-ФЗ, коммерческие контракты
        +e.H3.text Тендерный займ
        +e.H3.text Кредит на исполнение
        +e.H3.text Расчетный счет для участия в тендерах
        +e.H3.text Расчетный счет для участия в тендерах
        +e.text.--calculation Рассчитать стоимость